[2017-08-22 18:02] robgaston opened #9 "Rework Header and Nav"
We should spruce up the header and nav a bit:
- [ ] consider moving to side nav bar
- [x] add graphics to header
- [ ] settle on good app name
- [x] consider removing or improving jumbotron on trigger page

[2017-08-22 18:03] robgaston opened #10 "Add button to get page link"
As a convenience to users, we should have a button in the header that  brings up a modal w/ the page URL highlighted in an input (disabled) with a prompt to push "Ctrl + C" to copy the URL to share a calculation

[2017-08-22 18:04] robgaston opened #11 "Improve fee list in "Calculate" page"
The fee list in the calculate page should be improved:
- ensure it will gracefully handle a long list of items
- better signposting (icons, colors, other?) of individual fee ready state

[2017-08-22 18:08] robgaston opened #12 "Add Map to trigger page to collect Parcel set"
Map for trigger page will allow a user to select a set of parcel geometries for use in our calculations.

Map should include:
- basemap (city provided?)
- fee areas
- parcels
- ability for user to select a set of contiguous parcels for use in a project (by clicking on parcels to toggle selection)

Will use OpenLayers

[2017-08-22 18:10] robgaston opened #13 "Add net change in floor space to Trigger form"
Should track net change in floor space in Trigger form as two values, new floor space & removed floor space (similar to net new dwellings)

[2017-08-22 18:11] robgaston opened #14 "Add change in land use to trigger page"
Will need to allow a user to specify sq. ft. new & removed land use for each land use type (need to source land use types from City data).

[2017-08-22 18:11] robgaston opened #15 "Remove "mock-fee" from repo & fee types"
Once we've added at least one real fee, we can remove "mock-fee" from the fee types and the repo.

[2017-08-22 18:14] robgaston opened #16 "Add Print button and CSS for Report page"
Report page should include a button to print; this should simply bring up the default print dialog.

We should then add a media query to present only the report content in a print ready way.

[2017-08-22 21:08] #16 closed

[2017-08-22 23:52] #10 closed

[2017-08-30 23:35] #13 closed

[2017-08-30 23:36] #14 closed

[2017-08-30 23:36] #9 closed

[2017-08-30 23:36] #11 closed

[2017-08-31 16:00] adamlodge opened #51 "Add Fee Type: Affordable Housing Fee"
Affordable Housing Fee

citywide scope

Planning Code Section 415
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_415

This fee addresses the impact created by new market-rate housing to the stock of, and need for, affordable housing. It applies city-wide to residential project

[2017-08-31 16:06] adamlodge opened #52 "Add Fee Type: Child Care Fee: Office/Hotel Projects"
citywide scope

This fee addresses the impact created by certain employment- generating uses on the availability of child care. It applies city-wide to office and hotel projects and is triggered by the creation of 25,000 square feet or more of office or hotel uses. There are additional options for compliance with this fee, including the provision of on or off-site child care.

http://library.amleg

[2017-08-31 16:25] adamlodge opened #53 "Add Fee Type: Child Care Fee: Residential Projects"
Child Care Fee: Residential Projects
Planning Code Section 414A

http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_414A

citywide scope

This fee addresses the impacts of increased residential population on the demand for additional child care services. It applies city-wide to al

[2017-08-31 16:27] adamlodge opened #54 "Add Fee Type: Jobs-Housing Linkage Fee"
Planning Code Section 413
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_413

This fee addresses the impact created by employment- generating uses to the availability of affordable housing. It applies city-wide to most non-residential uses and is triggered by the creation of a

[2017-08-31 16:29] adamlodge opened #55 "Add Fee: School Impact Fee"
School Impact Fee
Citywide
California Education Code Section 17620
This fee addresses the impacts to the school system created by employment-generators and housing. It applies city-wide to most projects and is triggered by any addition of floor area. This fee is assessed by the Department of Building Inspection (DBI) and associated quest ions should be directed to either DBI or the San Francisco U

[2017-08-31 21:49] adamlodge opened #56 "Add Fee Type: Street Tree In-Leiu Fee"
Street Tree In-Lieu Fee
Citywide scope
Planning Code Section 425
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_425

This fee addresses the impact on the urban forest from development projects that are physically unable to provide the otherwise-required number of street trees.

[2017-08-31 21:50] adamlodge opened #57 "Add Fee Type: Transit Development Fee (TIDF)"
Transit Impact Development Fee (TIDF)
Citywide Scope

Planning Code Section 411
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_411

This fee addresses the impact created by non-residential uses on the transit system. It applies city-wide to all non-residential projects and is

[2017-08-31 21:51] adamlodge opened #58 "Add New Fee: Transportation Sustainability Fee (TSF)"
Transportation Sustainability Fee (TSF)
Planning Code Section 411A
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_411A

This fee addresses the impact created by all uses on the transportation system. It applies city-wide to all non-residential and PDR projects and large reside

[2017-08-31 21:52] adamlodge opened #59 "Add Fee Type: Wastewater Capacity Charge"
Wastewater Capacity Charge

Citywide Scope

SFPUC Resolution Number 07-0100
http://sfdbi.org/sites/default/files/migrated/FileCenter/Documents/Permit_Review_Services/Citywide_Development_Fee_Register/PUC_Resolution_No_07_0100.pdf.pdf

This fee – which is technically a capacity charge rather than an impact fee – covers City costs in providing new or increased sewerage service to customers. It appli

[2017-08-31 21:53] adamlodge opened #60 "Add Fee Type: Water Capacity Charge"
Water Capacity Charge

Citywide scope

SFPUC Resolution Number 07-0099
http://sfdbi.org/sites/default/files/migrated/FileCenter/Documents/Permit_Review_Services/Citywide_Development_Fee_Register/PUC_Resolution_No_07_0099.pdf.pdf

This fee – which is technically a capacity charge rather than an impact fee – covers City costs in providing new or increased water service to customers. It applies city-

[2017-08-31 21:54] adamlodge opened #61 "Add Fee Type: Balboa Park Infrastructure Fee"
Balboa Park Infrastructure Fee
Neighborhood-Specific

Planning Code Section 422
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_422

This fee addresses the impact on neighborhood infrastructure created by the increased development permitted under the Balboa Park Area Plan. It a

[2017-08-31 21:56] adamlodge opened #62 "Add Fee Type: Downtown Park Fee"
Downtown Park Fee
Neighborhood-specific

Planning Code Section 412
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_412

This fee addresses the impact created by office uses on down- town parks. It applies to office uses in C-3 Zoning Districts and is triggered by any addition o

[2017-08-31 22:03] adamlodge opened #63 "Add Fee Type: Eastern Neighborhoods Infrastructure Fee"
Eastern Neighborhoods Infrastructure Fee
Planning Code Section 423
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_423

This fee addresses the impact on neighborhood infrastructure created by the increased development permitted under the Eastern Neighborhoods Area Plan. It appl

[2017-08-31 22:04] adamlodge opened #64 "Add New Fee Type: Market & Octavia and Upper Market Street Affordable Housing Fee"
Market & Octavia and Upper Market Street
Affordable Housing Fee
Planning Code Section 416
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_416

This fee addresses the impact created by new market-rate housing to the stock of, and need for, affordable housing within and nearby th

[2017-08-31 22:06] adamlodge opened #65 "Add New Fee Type: Market & Octavia Infrastructure Fee"
Market & Octavia Infrastructure Fee
Planning Code Section 421
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_421

This fee addresses the impact on neighborhood infrastructure created by the increased development permitted under the Market and Octavia Area Plan. It applies in t

[2017-08-31 22:07] adamlodge opened #66 "Add Fee Type: Rincon Hill Infrastructure Fee"
Rincon Hill Infrastructure Fee
Planning Code Section 418
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_418

This fee addresses the impact on neighborhood infrastructure created by the increased development permitted under the Rincon Hill Area Plan. It applies to all projects

[2017-08-31 22:36] adamlodge opened #67 "Add Fee Type: South of Market Community Stabilization Fee"
South of Market Community Stabilization Fee
Planning Code Section 418.3(d)
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_418.3

This fee addresses the impact on existing neighborhoods created by the increased development permitted under the Rincon Hill Area Plan. It applies i

[2017-08-31 23:10] adamlodge opened #68 "Add Fee Type: Transit Center Open Space Fee"
Transit Center Open Space Fee
Planning Code Section 424.6
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_424.6

This fee addresses the impact on parks and recreational facilities created by the increased development permitted under the Transit Center District Plan. It applies

[2017-08-31 23:11] adamlodge opened #69 "Add Fee Type: Transit Center Transportation and Street Improvement Fee"
Transit Center Transportation and Street Improvement Fee
Planning Code Section 424.7
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_424.7

This fee addresses the impact on the transportation system created by the increased development permitted under the Transit Center Distric

[2017-08-31 23:12] adamlodge opened #70 "Add Fee Type: UMU District Affordable Housing Fee"
UMU District Affordable Housing Fee
Planning Code Section 419
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_419

This fee addresses the impact created by new market-rate housing in formerly industrial areas to the stock of affordable housing. It applies in the UMU Zoning Dist

[2017-08-31 23:13] adamlodge opened #71 "Add Fee Type: Van Ness & Market Affordable Housing and Infrastructure Fee"
Van Ness & Market Affordable Housing and Infrastructure Fee
Planning Code Section 424
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_424

This fee addresses the impact created by new development to the stock of, and need for, affordable housing and neighbor- hood infrastructur

[2017-08-31 23:14] adamlodge opened #72 "Add Fee Type: Visitacion Valley Facilities & Infrastructure Fee"
Visitacion Valley Facilities & Infrastructure Fee
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_420

This fee addresses the impact on infrastructure created by development anticipated in the Visitacion Valley neighborhood.  It applies in the Visitacion Valley Fee Area to all

[2017-08-31 23:18] adamlodge opened #73 "Add Fee Type: Bicycle Parking Fee"
Bicycle Parking Fee
Planning Code Section 430
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_430

This fee addresses impacts to the City’s bicycle infrastructure from development projects that seek to not provide otherwise- required Class 2 bicycle parking spaces (e.g. short-t

[2017-08-31 23:19] adamlodge opened #74 "Add Fee Type: Downtown Special Development District Open Space Fee"
Downtown Special Development District
Open Space Fee
Planning Code Section 427(b)
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_427

This fee addresses the impact on parks and open spaces from development projects that seek to not provide the otherwise-required on-site open s

[2017-08-31 23:20] adamlodge opened #75 "Add Fee Type: Eastern Neighborhoods Alternate Affordable Housing Fee"
Eastern Neighborhoods Alternate Affordable Housing Fee
Planning Code Section 417
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_417

This fee addresses the impact created by new small-scale market-rate housing to the stock of, and need for, affordable housing. It is available

[2017-08-31 23:21] adamlodge opened #76 "Add Fee Type: Eastern Neighborhoods Non-Residential Open Space Fee"
Eastern Neighborhoods Non-Residential Open Space Fee
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_426

This fee addresses the impact on parks and open spaces from development projects that do not provide the otherwise- required on-site open space. It is available only in Eas

[2017-08-31 23:22] adamlodge opened #77 "Add Fee Type: Eastern Neighborhoods Residential Open Space Fee"
Eastern Neighborhoods Residential Open Space Fee
Planning Code Section 427(a)
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_427

This fee addresses the impact on parks and open spaces from development projects that seek to not provide the otherwise-required on-site open space

[2017-08-31 23:23] adamlodge opened #78 "Add Fee Type: Public Artwork Fee"
Public Artwork Fee
Planning Code Section 429
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_429

This fee addresses impacts on arts and cultural resources from development projects that seek to not provide otherwise- required on-site public artwork. It is available to a subset

[2017-08-31 23:24] adamlodge opened #79 "Add Fee Type: South of Market Non-Residential Open Space Fee"
South of Market Non-Residential Open Space Fee
Planning Code Section 425
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_425

This fee addresses the impact on parks and open spaces from development projects that seek to not provide the otherwise-required on-site open space. It

[2017-09-07 17:09] chiatt commented on #72
@mikewynne Do you know what it means for a project to contain 20 dwellings?  Does it mean that 20 existing dwellings are affected by the project or could it be the removal of 10 and the addition of 10?

[2017-09-07 18:49] mikewynne commented on #72
@chiatt It probably means a project that adds 20 dwelling units (net) but that is pretty fuzzy language.  Can you send me a link to where in the code that it says this and I'll ask for clarification from our planners.  thanks.

[2017-09-07 19:49] chiatt commented on #72
Thanks @mikewynne

Here's the link [Visitacion Fee](http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_420)

I pulled the language from the ticket description rather than the code. The code's language is slightly different describing a project that 'has 20 or more residential unit

[2017-09-07 21:48] mikewynne commented on #72
@chiatt I confirmed with the planners that this mean an **existing** site with 20 residential units.

[2017-09-07 21:50] chiatt commented on #72
@mikewynne Great - Thanks Mike

[2017-09-08 17:43] adamlodge opened #89 "Add ability to search for location on map by address or apn"
Preferably this will be handled by a services sourced from EAS, or will use the same service that supports this capability in PIM.

[2017-09-13 20:29] robgaston commented on #71
@mikewynne could you please help us understand Floor Area Ratio (FAR) in this context?

Specifically, what information do we need to collect from the user to calculate "new construction in excess of a Floor Area Ratio (FAR) of 6:1", for instance?  And how do we do that calculation?

[2017-09-14 21:43] ryan86 commented on #63
@mikewynne

The first two have to do with the Tier designations from the legalese. The third is about the Urban Mixed Use service and the legalese.

1.) Are all changes of use assumed to be in an existing structure?

2.) What should we do about portioning of a project? As in 'only the residential portion of a project'.

3.) Should we use a specific Tier (A, B, C) of the Urban Mixed Use service hos

[2017-09-14 23:05] jmunowitch commented on #79
@mikewynne: I am currently using the _Eastern Neighborhoods Infrastructure Impact Fee_ area, but this doesn't seem quite right by my interpretation of the Planning Code.

Can you confirm the correct area? If it is not (and I don't think it is), we will need to add the new area to  AGS service.

[2017-09-14 23:28] jmunowitch commented on #79
Pulled in with https://github.com/sfcpc/ifc/pull/103

[2017-09-19 21:58] adamlodge opened #104 "Rest Service for Searching parcels/address"
Provide a rest service that we can use to search the map for an address or maybe a parcel by APN.

[2017-09-28 23:09] mikewynne commented on #71
@robgaston That should be the FAR of the final project.  So, once the building has finished being built or extended a FAR of 6:1 would trigger the fee.  FAR is the building's floor space as a ratio of the parcel's surface area.  E.g. a building with a floor space of 60,000 sq ft on a parcel of 10,000 sq ft would have a FAR of 6:1.  We just need those 2 numbers to do the calculation (parcel area an

[2017-09-28 23:32] mikewynne commented on #79
@jmunowitch I think you are correct, the boundary appears to be missing from our GIS data.  I'll track it down and let you know once it's added to the AGS service.

[2017-09-29 15:45] mikewynne commented on #79
@jmunowitch This one is based on zoning rather than plan areas so I created a new layer in the AGS service called SoMa Mixed Use Districts.

[2017-10-02 22:35] ryan86 commented on #62
@mikewynne

This fee references the C-3-O, C-3-O (SD), C-3-R, C-3-G or C-3-S Use Districts. Are those district geometries available to us via a map service - maybe via the downtown park fee map service?

[2017-10-02 22:47] mikewynne commented on #62
@ryan86 The Downtown Park area seems to be much larger.  I just added a new layer to the ArcGIS Server map service called 'Downtown Zoning' which includes all of those C3 districts.

[2017-10-04 18:22] mikewynne commented on #64
@ryan86
1.) They are different, I just added the Special Use District to the map service as a new layer.
2.) I'll check and get back to you...
3.) I just added a new layer for the NCT district to the map service.

[2017-10-04 19:06] ryan86 commented on #64
@mikewynne

Thanks for those layers.

In looking at the SUD layer it doesn't look like there is a "Van Ness and Market Special Use District".

I see the following that are close:
Van Ness
Van Ness Automotive
Van Ness Medical Use Subdistrict
Van Ness & Market Downtown Residential

[2017-10-04 19:10] mikewynne commented on #64
@ryan86
I'm pretty certain it's the last one - Van Ness and Market Downtown Residential

[2017-10-05 20:39] robgaston commented on #68
@mikewynne the fee schedule [here](https://github.com/sfcpc/ifc/blob/71_transit_center_open_space/fees/transit-center-open-space/info.md) declares different fees for different types of use.

Should the FAR be calculated per use type here (for example: net new residential GSF / parcel area) or should we use the total project area in calculating FAR?

If the latter, in the case of a mixed-use projec

[2017-10-05 23:55] #12 closed

[2017-10-05 23:55] #89 closed

[2017-10-05 23:55] #15 closed

[2017-10-05 23:55] #104 closed

[2017-10-06 23:20] chiatt commented on #72
@robgaston It looks like the fees are all assigned to Mike to QA, but I thought I would give this one to you first so that you have a chance to review the changes I made to the trigger page.

[2017-11-02 23:02] robgaston opened #139 "Subtotal is incorrect"
running subtotal seems to be broken :cry:
Fix it!

(Double-check final calculated total as well!)

[2017-11-03 15:55] #139 closed

[2017-12-22 19:02] mikewynne commented on #63
Hi @ryan86 You asked 3 questions earlier about this fee, here is a recap of the Q's and the answers I got from one of the planners (Doug).  Let me know if these aren't clear and we could perhaps set up a quick phone meeting with Doug.

Original questions:

1.) Are all changes of use assumed to be in an existing structure?
2.) What should we do about portioning of a project? As in 'only the residen

[2017-12-29 20:59] mikewynne opened #141 "Change Disclaimer"
The City attorney recommended that we change the disclaimer to this text:

This web site is made available for educational and informational purposes only, not to provide legal or any other planning advice about impact fees or requirements. The above estimates shall not substitute for the final fees calculated and assessed by authorized City staff. The latest development impact fee schedule may be

[2018-01-03 18:20] mikewynne opened #142 "Update Fees to Use 2018 Impact Fee Schedule"
The 2018 impact fee schedule went into effect on Jan 1, 2018.  The tool needs to be updated to include these.
http://forms.sfplanning.org/Impact_Fee_Schedule_2018.pdf

[2018-01-03 18:38] mikewynne opened #143 "General UI Changes"
Various UI issues:
- [ ] All GSF numbers should have commas to be easier to read.
- [ ] Use placeholder text to add explanations to the input fields as can be confusing distinguishing similar terms (e.g. removed versus replaced, new versus net new, etc.).
- [ ] Need buttons (calculate, next, report, etc.) on the bottom of the page so planners don’t have to scroll back up.  More intuitive to have t

[2018-01-03 18:47] mikewynne commented on #72
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:49] mikewynne commented on #61
CPC staff who are experts on this fee and are assigned to test the fee.
Area expert: Jeff Horn
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:50] mikewynne commented on #66
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:51] mikewynne commented on #65
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:51] mikewynne commented on #67
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:52] mikewynne commented on #79
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:56] mikewynne commented on #62
CPC staff who are experts on this fee and are assigned to test the fee.
Area expert: Nick Foster
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:57] mikewynne commented on #64
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen, Jeff Horn, Nick Foster
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:57] mikewynne commented on #68
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Nick Foster
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 18:58] mikewynne commented on #69
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Nick Foster
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-03 19:00] mikewynne commented on #71
CPC staff who are experts on this fee and are assigned to test the fee.
Area experts: Doug Vu, Mike Christensen
General experts: Josephine Chen, Sylvia Jimenez
All-fee experts: Corey Teague, Mat Snyder

[2018-01-19 19:53] mikewynne commented on #61
Corey, Jeff and Sylvia reported that the fee is calculating correctly.

[2018-01-19 19:56] mikewynne commented on #62
Fee appears to calculate correctly.  But, multiple people are reporting that it does not trigger for parcels in the downtown area that are also in the Transit Center area (TC is a subset of the downtown area).

[2018-01-19 20:09] mikewynne commented on #64
The fee seems to be calculating correctly.  But, multiple people are reporting triggering issues - it only appears to be triggered for parcels where there are multiple fee areas at the location.  E.g. 2100 Market (there the fee area overlaps with the Upper Market NCT) it triggers correctly but 1699 Market (where this is the only fee area), it is not triggered.

[2018-01-19 21:10] mikewynne commented on #65
Corey and Jeff reported that the fee is calculating correctly. Doug said the fee is incorrect.  I'll follow up with them.

[2018-01-19 21:25] mikewynne commented on #53
We have had multiple people report that the fee is calculating correctly but Corey said the fee was incorrect for 1 Oak St.  I'll follow up with him to clarify.

[2018-01-19 22:01] mikewynne commented on #72
Multiple people are reporting that while the fee is calculating correctly it is not always being triggered.  2401 Bay Shore and 5 Leland are examples (both using more than 20 residential units which should trigger the fee).

[2018-01-22 15:27] #61 closed

[2018-01-25 21:10] mikewynne commented on #64
![mo_screenthot](https://user-images.githubusercontent.com/7946733/35412468-24da16ce-01d1-11e8-824d-9dc2614ff2d6.PNG)

[2018-02-01 23:38] mikewynne commented on #53
Change the "New Construction" field in the Calculate page to "New Construction or Addition".

Two changes related to the credits (in the Calculate page):
1. Change from a percentage to an actual value.
2. Have two credit fields - one for New Construction or Addition and one for "Change of Use" (right now we just have a field for change of use).

Other than those minor changes, the field is calcula

[2018-02-01 23:45] mikewynne commented on #72
The fee is not triggering correctly.  It is only being triggered when 20+ EXISTING residential units are entered.  But, it should be triggered whenever the FINAL project is 20+ units (either 20+ new units or adding units to an existing building where the total, existing plus new, is 20+).

Other than this, the fee is calculating correctly.

[2018-02-01 23:45] mikewynne commented on #66
The fee is calculating correctly. :)

[2018-02-01 23:48] mikewynne commented on #65
The components of the fee are calculating correctly but the total is wrong.  Screenshot to follow.

[2018-02-01 23:49] mikewynne commented on #65
![moinf](https://user-images.githubusercontent.com/7946733/35709469-7dfa30a4-0767-11e8-9635-f6069b943670.PNG)

[2018-02-01 23:55] mikewynne commented on #71
The fee is using the wrong GSF for the FAR calculations - it should be calculating based on the net new GSF.  In the example below it should be using 50,000 GSF, not 60,000GSF.

https://sfcpc.github.io/ifc/?state=report&fees=%7B%22soma-community-stabilization-fee%22%3A%7B%22totalRes%22%3Anull%7D%2C%22soma-non-residential-open-space%22%3A%7B%22newManufacturing%22%3Anull%2C%22paySomaFee%22%3Anull%7D

[2018-02-02 00:02] mikewynne commented on #64
It looks like it's tied just to the Upper Market St NCT, when it should be triggered by any project in one or both of the Market and Octavia Affordable Housing Fee area and the Upper Market St NCT.

[2018-02-02 00:04] mikewynne commented on #67
This fee is calculating correctly.

[2018-02-02 00:12] mikewynne commented on #68
Two issues:
1.  Under the calculate page all of the new addition types (retail, hotel, etc.) are listed but Office is not (because it's on the trigger page).  This is confusing some users.  Can we add Office to the calculate page and pre-populate it with the number entered in the trigger page?
2. The FAR > 9:1 proportioning does not appear to be working correctly, it's always appearing as N/A or 0

[2018-02-02 00:15] mikewynne commented on #69
Same two issues as the Transit Center OS Fee:

1. Under the calculate page all of the new addition types (retail, hotel, etc.) are listed but Office is not (because it's on the trigger page). This is confusing some users. Can we add Office to the calculate page and pre-populate it with the number entered in the trigger page?
2. The FAR > 9:1 and FAR > 18:1 proportioning does not appear to be worki

[2018-02-02 00:16] mikewynne commented on #79
Since this is an Elective fee, let's move this into the Icebox.

[2018-02-02 01:53] #67 closed

[2018-02-02 01:55] #66 closed

[2018-02-06 00:26] adamlodge commented on #143
@robgaston - I'll leave it to you to decide if you want to split these into seperate tickets.  I can imagine wanting to do some if some of these are significant effort while others are trivial in order to take that into consideration as we prioritize work.

[2018-02-06 00:29] adamlodge commented on #63
@mikewynne Did we decide that we are going to put this one in the icebox for now? If not, how does this prioritize relative to everything else that is currently in progress?

[2018-02-06 00:37] mikewynne commented on #63
@adamlodge We are still getting pushed to get this one working, so definitely not in the Icebox.  It's actually the most important of the fees, although it is probably the most complicated.  Ideally we'd fix the fees in QA and also get this one working within the hours that we have left. If that's not possible then I'd say fixing the fees in QA takes priority.  But it's higher priority than the UI

[2018-02-09 19:01] adamlodge commented on #68
Saving for pair-programming with Mike at the end of the project.

[2018-02-09 19:02] adamlodge commented on #69
saving for pair-programming at end of project.

[2018-02-10 02:12] robgaston commented on #71
@mikewynne the 60,000 GSF in this case is the calculated GSF in excess of a FAR of 6:1 for the total GSF 450,000 (/65,000 parcel area).  Should we just be collecting a net new GSF value for this instead?

[2018-02-10 02:17] robgaston commented on #71
@mikewynne or can net new GSF be calculated by summing the following?:
Increase in non‐residential (GSF)
Increase in PDR (GSF)
Increase in residential (GSF)
Increase in office space (GSF)

[2018-02-19 20:23] mikewynne commented on #141
@robgaston Looks good Rob, thanks!

[2018-02-20 17:58] #141 closed

[2018-02-27 00:39] ryan86 commented on #64
should be resolved in the latest

[2018-02-27 00:53] ryan86 commented on #62
@mikewynne the Downtown Zoning layer does not appear to include the Transit Center area. If the Transit Center area is added to the Downtown Zoning layer this fee should work correctly. Otherwise, I could add an intersection to this fee to include the Transit Center Area from the Neighborhood-Specific Impact Fee Areas layer.

Let me know how you would like me to proceed.

http://g.recordit.co/Lx31

[2018-02-27 01:00] ryan86 commented on #65
should be fixed in the latest

[2018-02-27 01:15] mikewynne commented on #64
@ryan86 Look good Ryan, thanks!

[2018-02-27 01:34] mikewynne commented on #62
@ryan86 Hi Ryan, the area should be the Downtown Park Fee under the Neighborhood-Specific Impact Fee Areas layer, which includes the transit center area.  In the following screenshot it's the salmon colored area:
![downtown](https://user-images.githubusercontent.com/7946733/36705676-3f6fc2d2-1b1b-11e8-8497-6a189df5da99.PNG)

[2018-02-27 01:37] mikewynne commented on #65
@ryan86 Looks perfect, thanks Ryan!

[2018-02-27 05:25] #64 closed

[2018-02-27 05:26] #65 closed

[2018-02-27 17:04] mikewynne commented on #62
@ryan86 Thanks Ryan.  I don't see any reason that the Transit Center zoning district was excluded from the 'Downtown Zoning' layer so I just added it.  That means that the 'Downtown Zoning' and 'Downtown Zoning' layers should be almost identical. Ideally you would just use the 'Downtown Zoning' layer.  thanks, mike.

[2018-02-27 17:52] ryan86 commented on #62
Remove Downtown Park Fee layer in favor of using just the Downtown Zoning layer.

[2018-02-27 18:26] adamlodge opened #148 "All GSF numbers should have commas to be easier to read."
This is already implemented in reports, but not in data entry forms.

[2018-02-27 18:28] adamlodge opened #149 "Placeholder text in input fields"
Use placeholder text to add explanations to the input fields as can be confusing distinguishing similar terms (e.g. removed versus replaced, new versus net new, etc.).

As a first step, end-users knowledgeable about what placeholder text to use should go through the forms and define exactly what text goes where.  Devs can then add that to the application.

[2018-02-27 18:29] adamlodge commented on #143
All but the two unchecked are resolved.  Those two have been seperated out into their own tickes #148 and #149.

[2018-02-28 01:17] ryan86 commented on #72
@mikewynne I reread the code and I don't think this applies to all projects with over 20 units across the board.

[code]

The way I interpret this it seems you could have a project that has >=20 existing units, add no new units, and add only 400gsf and the fee would not be triggered.

The trigger calculation should reflect this now.

[2018-03-05 18:13] mikewynne commented on #72
@ryan86 I agree.  The fee looks good.  Thanks.

[2018-03-05 22:32] mikewynne commented on #69
Adding clarification for work session with @robgaston

Once the entire project goes beyond a 9:1 FAR the proportioning kicks in.  E.g. a project on a 1,000 sq ft parcel with 8,000 sq ft of residential and 2,000 sq ft of office will result in the 9:1 threshold kicking in at 9,000 sq ft (90% being below the threshold and 10% being above).   It gets portioned out as 90% of the residential 9,000 sq ft

[2018-03-05 22:35] #72 closed

[2018-03-06 17:51] mikewynne commented on #71
@robgaston The fee is calculating correctly. One small label change though - under the calculate page, some planning staff were thinking that the 'Total Building GFA' was the existing building but it appears to be the proposed building.  So, please change the label to 'Total Proposed Building GFA'.  Thanks

[2018-03-06 17:53] mikewynne commented on #53
@robgaston The fee looks good, thanks!

[2018-03-06 17:57] mikewynne commented on #62
@ryan86 Thanks Ryan, the fee looks good.

[2018-03-09 00:16] #62 closed

[2018-03-09 21:34] adamlodge commented on #142
For keeping track of which fees are updated in the branch

- [ ] Balboa Park Infrastructure
- [ ] Citywide Childcare Residential
- [ ] downtown park fee
- [ ] market octavia affordable housing
- [ ] rincon hill infrastructure
- [ ] soma community stabelization
- [ ] soma non-residential open space
- [ ] transit center open space
- [ ] transit center transportation
- [ ] van ness market infrastruct

[2018-03-09 21:47] adamlodge commented on #142
@mikewynne I didnt see any reference to the Citywide residential Child Care Impact Fee in the 2018 fee schedule document provided at the top of this ticket.  Can I assume that no fee index adjustment is necessary?

[2018-03-12 19:35] adamlodge opened #151 "Fee Schedule Update Workflow"
As an IFC administrator, I need to update fee schedule data for each fee on a yearly basis in order to make the IFC calculate fees based on the latest fee schedule.  Currently, this requires updating fees within each respective fee's settings.json file and readme.md file.  It would be more efficient if there was a secure single point of entry through which I can update both the settings and docume

[2018-03-12 19:50] adamlodge commented on #71
@robgaston this fee didnt make it into my branch for updating to 2018 schedule.  Could you update readme and settings appropriately?  Relevant info is: ```$42.45 per net additional gsf for FAR between 6:1 and 9:1.```

[2018-03-12 20:13] adamlodge commented on #142
@mikewynne - all of these fees are now updated.  The process for updating was less than optimal given that you'll have to do this on a yearly basis.  I created a new ticket to streamline the process here #151 .

[2018-03-12 20:56] mikewynne commented on #142
@adamlodge Thanks Adam!  Did you find the Child Care - Residential?  Looks like it's about half way down page 2 of the PDF:
![child2018](https://user-images.githubusercontent.com/7946733/37309117-2a403120-25fd-11e8-8aa5-468bc5d5ebc3.PNG)

[2018-03-19 17:59] robgaston commented on #63
@mikewynne I've merged this fee into `master`; it will trigger for any project w/in the EN area, but it only calculates a fee when the project area only intersects a single tier area.  The following tier areas are also not currently supported as per our discussion last week:

- Eastern Neighborhoods Infrastructure Impact Fee - Tier 1 for 45 feet. Tier 2 for 65 feet.
- Eastern Neighborhoods Infrast

[2018-03-20 18:00] mikewynne commented on #71
@robgaston Hi Rob, I assigned this one back to you just to make the small change to the label  - 'Total Building GFA' to be changed to 'Total Proposed Building GFA' (see above for details).  Thanks.

[2018-03-20 22:55] mikewynne commented on #63
1. There is no way in the UI to differentiate Change of Use from Replacement of Use.  Need to add a ‘Replacement of Use’ section to the trigger page as sometimes the rate is different.
2. "Could not determine fee tier" is displayed more often than expected.
3. Corey thought that the replacement fee was used instead of the change of use fee, this needs to be checked.
Otherwise the fee worked well -

[2018-03-20 23:00] mikewynne commented on #68
Closing this fee, we think it's now correct although Corey feels that it won't be used again so suspending QAing and shifting to 'Closed'.

[2018-03-20 23:00] #68 closed

[2018-03-20 23:01] mikewynne commented on #69
Closing this fee, we think it's now correct although Corey feels that it won't be used again so suspending QAing and shifting to 'Closed'.

[2018-03-20 23:01] #69 closed

[2018-03-27 21:33] mikewynne opened #163 "Neighboring (Adjacent) Impact Fees Being Incorrectly Triggered"
Impact fee areas (especially in Eastern Neighborhoods where there are multiple tiers) often run along parcel boundaries.  Parcels adjacent to (but sharing a boundary with) a fee area are being seen as inside the fee area.  ArcGIS server sees the parcel boundary as intersecting the adjacent fee area because of the shared boundary, so the adjacent fee is being incorrectly triggered.

[2018-03-27 21:37] #163 closed

[2018-03-27 21:37] #71 closed

[2018-03-27 21:48] mikewynne commented on #63
2. Above split off into separate issue and closed.

[2018-03-29 23:02] #143 closed

[2018-03-29 23:03] #142 closed

[2018-04-09 22:39] #63 closed

[2018-04-10 18:37] #53 closed

[2018-06-20 23:13] adamlodge opened #176 "Accela Integration"
Consider approaches to populate fee variables in the calculator based on information available in the Accela database.

Inversely, consider if/how to populate Accela with data entered into the IFC as fee type variable values.

[2018-06-26 21:37] mikewynne opened #177 "New Impact Fee Schedule - July 1, 2018"
The new fee schedule is expected to only change Water, Wastewater and Street Tree fees, none of which are in the IFC.  Check that none of the other fees are affected once the schedule is published.

[2018-06-26 21:38] mikewynne opened #178 "New Impact Fee Schedule - August 2018"
This is only expected to affect Schools Impact fee.  Check that no other fees are affected once the schedule is published.

[2018-07-16 18:36] mikewynne opened #179 "ArcGIS Server was moved to a new server - need to update URL"
Change the URL for the map service to:
http://sfplanninggis.org/arcgiswa/rest/services/ImpactFees/MapServer

[2018-07-16 18:42] mikewynne commented on #179
URL changed.

[2018-07-16 18:42] #179 closed

[2018-08-17 18:15] mikewynne commented on #177
No other fees were affected.

[2018-08-17 18:15] #177 closed

[2018-08-17 18:16] mikewynne commented on #178
No other fees were affected.

[2018-08-17 18:16] #178 closed

[2018-08-29 21:49] ryan86 commented on #52
Hi @mikewynne do you have an ArcGIS layer(s) that excludes or otherwise isolates the areas listed in 414.3b?

http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_414.3

[2018-08-29 21:51] ryan86 commented on #52
@mikewynne I made the assumption that the cases outlined in 414.5-414.7 can be combined because I think they are effectively the same as far as the fee calculator is concerned.

[2018-08-29 22:18] mikewynne commented on #52
@ryan86 We can just ignore 4143.b, staff should that the fee doesn't apply to those sites.

[2018-08-29 22:27] mikewynne commented on #52
@ryan86 Yeah, feel free to combine them (414.5-7).

[2018-08-31 18:26] robgaston commented on #52
@ryan86 I made some fixes in the above commit (a7ea2b3)

I noticed that the fee can turn up negative here, which is probably not what we want.  I think the logic will need some adjustment.

[2018-08-31 22:47] #57 closed

[2018-08-31 22:48] adamlodge commented on #79
Closing because it's either out of scope of the IFC or about to be retired.  Can be reopened if this changes.

[2018-08-31 22:48] #79 closed

[2018-08-31 22:48] adamlodge commented on #56
Closing because it's either out of scope of the IFC or about to be retired.  Can be reopened if this changes.

[2018-08-31 22:48] #56 closed

[2018-08-31 22:48] adamlodge commented on #59
Closing because it's either out of scope of the IFC or about to be retired.  Can be reopened if this changes.

[2018-08-31 22:48] #59 closed

[2018-08-31 22:48] adamlodge commented on #55
Closing because it's either out of scope of the IFC or about to be retired.  Can be reopened if this changes.

[2018-08-31 22:48] #55 closed

[2018-08-31 22:48] adamlodge commented on #60
Closing because it's either out of scope of the IFC or about to be retired.  Can be reopened if this changes.

[2018-08-31 22:48] #60 closed

[2018-09-04 23:45] ryan86 commented on #78
@mikewynne

1) These features in the "Zoning Map - Zoning Districts" layer appear to have nothing in them: SLR, C-M. Additionally, do you have a layer that meets the requirements in 429.2b 2 and 3?

http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_429.2

2) What's the best way t

[2018-09-04 23:58] mikewynne commented on #78
@ryan86  Hi Ryan, for 1. above, there will be times when there are zoning districts in the planning code that are currently not in the use (like SLR and C-M).  Please just build them into the logic in case they are used again (they'll then automatically appear in the Zoning Districts layer).  I'm working on creating a layer for 429.2b 3 and 3, I'll let you know when it's ready (hopefully tomorrow)

[2018-09-10 16:49] robgaston commented on #54
@jmunowitch  I fixed a label in #182

otherwise this looks good to me; assigning to @mikewynne to QA fee calculation

[2018-10-02 17:42] mikewynne commented on #52
I confirmed with Corey that the fee is good.

[2018-10-02 17:42] #52 closed

[2018-10-02 17:52] mikewynne commented on #54
A couple of minor issues:

1. Can we please copy the hotel and office GFA from the trigger page to the calculation page.  I know it's duplicative but it's a little confusing seeing all of the other land use types but not the hotel and office (users were incorrectly thinking that they had been missed).

2. The hotel GFA is always showing as 0 in the report page.  The fee is calculating correctly, s

[2018-10-02 17:54] mikewynne commented on #54
@robgaston I just assigned this to you although I wasn't sure if this should go back to you or @jmunowitch

[2018-10-11 18:36] mikewynne commented on #54
@robgaston These changes look good, thanks.  One more thing though,  It looks like only half of the fee has been built out - it handles New Construction/Additions fine (code section 413.6A) but seems to miss out Replacement of Use/Change of Use (code section 413.6B).

[2018-10-26 20:16] ryan86 commented on #77
@mikewynne Is this fee triggered by the criteria in 329(b) (>75 ft in height or >25000 gfa) or the criteria in 423.3(b) or some combination or neither?

[2018-10-29 22:30] robgaston commented on #54
@mikewynne change & replacement of use have been added here

[2018-11-06 17:28] mikewynne commented on #77
@robgaston Very similar to the non-res fee, can we simplify this to just have the planner enter the shortfall of OS that has been provided.  That would mean that we could also remove the publicly accessible checkbox.  And can you check that the fee number from the Impact Fee Schedule is being used, rather than the number listed in the planning code.

[2018-11-09 22:11] mikewynne commented on #54
@robgaston We may still have an issue with the change/replacement of use.  If we look at an example of a 20K office being demolished and replaced by a new 100K office building. We put in 100K of new construction and 20K of replacement and 80K as the increase in non-res GFA. See link below for an example. We expected that to result in a fee where 80K goes towards the new construction and 20K goes t

[2018-11-20 17:08] mikewynne commented on #74
Hey @robgaston it looks like this is using the fee ($1,410 per GFA) from the planning code.  It should be using the fee schedule (http://forms.sfplanning.org/Impact_Fee_Schedule.pdf) which shows $1,876 as the current fee.

[2018-11-20 17:31] mikewynne commented on #74
@robgaston Thanks Rob!

[2018-11-26 18:37] robgaston commented on #76
@mikewynne this fee has been updated to simply collect the shortfall of OS; also I've updated w/ the latest fee schedule. Thanks!

[2018-11-26 18:47] robgaston commented on #77
@mikewynne this fee has been updated to simply collect the shortfall of OS; also I've updated w/ the latest fee schedule. Thanks!

[2018-11-26 19:38] robgaston commented on #74
@mikewynne I've updated this fee to collect the shortfall of OS

[2018-11-26 19:46] mikewynne commented on #74
Thanks @robgaston

When I enter the shortfall it doesn't see that the fee is ready to calculate.  Maybe still be linked to the old variable...  In the attached PNG you can see that the "Next: View Report" button is still grayed out, even though the shortfall has been entered.

![ifc](https://user-images.githubusercontent.com/7946733/49038036-a31cb980-f170-11e8-806e-dbb9c15c3431.PNG)

[2018-11-26 19:46] robgaston commented on #54
@mikewynne the new office value (100k in your example) is assumed by the application to be just the newly constructed office GFA; as such, we don't currently calculate the difference as you've described above.  I think in this example, you would need to input 80k for this value, but that being said we may be using this value incorrectly.  Should we instead add a separate value for "newly construct

[2018-11-26 19:48] robgaston commented on #74
@mikewynne is it possible that you have something cached locally?  I'm not seeing this issue on my end, but the variable names did change on this field, which may be what's cached on your end

[2018-11-26 19:49] mikewynne commented on #54
@robgaston I have a meeting scheduled with Corey tomorrow afternoon, I'll ask him which he prefers.

[2018-11-26 21:04] robgaston commented on #78
@mikewynne I've removed the "first construction document" checkbox and added the C-3 areas to the trigger area for this fee.  I am able to trigger this fee now, so I'm pretty sure those were the only problems outstanding, but please let me know.  Thanks!

[2018-11-27 16:32] robgaston commented on #73
@mikewynne we've begun work on this fee and as part of this we are calculating the total number of spaces required; however, based on the feedback we've gotten on the OS fees, I think it's worth asking if the fee calculator should even do this?

That is: should we just have the user enter the number of spaces for which they will pay the in-lieu fee and let the calculation of the number of spaces b

[2018-11-28 00:17] mikewynne commented on #73
@robgaston Yes, please do that.  Generally speaking we want the IFC to strictly do fee calculations and avoid doing any calculations that involve interpreting non-fee aspects of the Planning Code.  There are fuzzy boundaries between the two of course... :)

[2018-11-28 00:18] mikewynne commented on #76
@robgaston Looks good, thanks Rob!

[2018-11-28 00:18] #76 closed

[2018-11-28 00:18] mikewynne commented on #77
@robgaston This one is good.  Thanks.

[2018-11-28 00:18] #77 closed

[2018-11-28 00:19] mikewynne commented on #74
@robgaston This is good too.  Thanks.

[2018-11-28 01:07] mikewynne commented on #54
@robgaston For the previous example Corey is certain that staff would expect to enter 100K for new construction and 20K for replacement of use, with the 20K being part of the 100K new building.  So, ideally we'd change the fee to work from that expectation.  But, if there are multiple fees pulling from those fields that would need to be changed to do that then maybe we could get away with changing

[2018-11-28 16:56] robgaston commented on #54
@mikewynne I've taken a stab at calculating the portions of use as you've described above.  I think that this is okay from the perspective of existing fees, as it only effects how this fee is calculated.
 however, some of the values are used for other fees, so the planners will need to tell us if that is problematic w/re: fee calculation.

At any rate, please take a look at what I've done as of #2

[2018-12-01 01:00] robgaston commented on #58
@mikewynne I've merged an initial working version of this fee into `master`, but I find it likely that it will need some tweaks based on feedback from the planners.  Please take a look when you get a chance and let me know.

Thanks!

[2018-12-03 18:00] mikewynne opened #206 "Updated all fees to match the new - 2019 fee schedule"
All fees are increasing by 6% and are detailed in the new fee schedule which goes live on Jan 1, 2019.  The Fee Schedule is available on this page:  https://sf-planning.org/impact-fees.
Direct link is here: http://forms.sfplanning.org/Impact_Fee_Schedule_2019_notification.pdf

[2018-12-03 18:13] mikewynne commented on #51
The new logic has just been published for this fee.  Starting January 1, 2019, the fee will be applied on per square foot basis, rather than on the current per unit basis. Details are shown on the Inclusionary Housing page here: https://sf-planning.org/inclusionary-affordable-housing-program.  It'll be published on the Planning Code in Jan.

[2018-12-03 21:43] mikewynne commented on #78
@robgaston Hey Rob, I think it's only triggering in some of the C-3 districts.  E.g. the link below is using parcel 3708/095 which is in a C-3-O(SD) district (which is one of the range of C-3 districts), and it does not trigger. But if I change the parcel to 3706/276 (a C-3-R district) it then it does trigger.

The full set of C-3 districts all start with 'C-3, but if you need a full list then the

[2018-12-03 21:50] mikewynne commented on #78
@robgaston ...actually there is a layer in the map service for the C-3 districts - it's the one called 'Downtown Zoning'

[2018-12-03 22:48] mikewynne opened #209 "Central SoMa Plan Going Live Jan"
The Central Soma Plan is expected to be signed off by the mayor in the next few days.  30 days after that it will be integrated into the Planning Code - ETA is around Jan 14.  This will result in major changes to the zoning of central SoMa which is likely to impact a number of fees including the Eastern Neighborhood fees.

[2018-12-03 23:18] robgaston commented on #78
@mikewynne I've added that layer to the area check for this fee and it now triggers for the entire downtown zoning area.

Let me know if there are any other tweaks needed here.

Thanks!

[2018-12-03 23:40] mikewynne commented on #209
@robgaston Just to be clear, this one is entirely on me. I need to figure out what exactly all of these zoning and height changes mean and how they impact the map service.

[2018-12-03 23:50] mikewynne commented on #148
@robgaston Is this a major headache to implement?  I could imagine that it might be.  If it is then I think we should just close this one out.  If it's not then it's worth doing.

[2018-12-03 23:52] robgaston commented on #148
@mikewynne it's simple to implement (and should be implemented, though there may be exceptions that fell through the cracks) on the report page.  the place where this is hard to implement is in the forms where each character is by default assumed to be a part of the value the user has entered.

[2018-12-03 23:59] mikewynne commented on #148
@robgaston Cool, thanks.  I think the original feedback was more about the display of the input and calculate forms - so that typing 10000 would automatically display as 10,000.

[2018-12-04 00:12] mikewynne commented on #58
@robgaston I'm getting a NaN in the report when zero is entered for the hospital inputs.  There might also be something wrong with the 'non-res, 800-99,999gsf' section in the report - I enter zeros for everything non-res and get -800 in the report:

https://sfcpc.github.io/ifc/?state=trigger&fees=%7B%22affordable-housing%22%3A%7B%22ownershipType%22%3A%22rental%22%7D%2C%22bicycle-parking-in-lieu%22

[2018-12-04 16:19] robgaston commented on #148
@mikewynne sorry, I may have been a bit imprecise above in my language.  It is in the input and calculate forms where this will be difficult to implement (it should already be implemented in the report page).  I'm guessing a day or two to figure it all out, but there are some unknowns there which make it tough to estimate. Do you still want us to try to take this on?

Thanks!

[2018-12-04 17:03] mikewynne commented on #148
@robgaston Let's leave it until the end, if we have hours left over after everything else is finished it might be worth spending time on.  I'll move it back to the Icebox for now.

[2018-12-07 19:33] #73 closed

[2018-12-07 19:47] mikewynne opened #212 "Getting TypeError: this.officeGFA is not a function errors in the console"
E.g. with the example URL below.  It then seems to block some interactions, like changing the parcel.

https://sfcpc.github.io/ifc/?state=trigger&fees=%7B%22affordable-housing%22%3A%7B%22ownershipType%22%3Anull%7D%2C%22bicycle-parking-in-lieu%22%3A%7B%22spacesInLieu%22%3Anull%7D%2C%22downtown-special-development-district-open-space%22%3A%7B%22openSpaceGFAShortfall%22%3Anull%7D%2C%22eastern-neighbo

[2018-12-07 20:02] mikewynne commented on #58
It looks pretty close but there may be something funky about the 'Non-Residential, all gsf above 99,999 gsf' section of the report.  In the example below we entered 140,000 non-res, so expected this to show 40,000, but it shows 90,001.

https://sfcpc.github.io/ifc/?state=report&fees=%7B%22affordable-housing%22%3A%7B%22ownershipType%22%3A%22rental%22%7D%2C%22bicycle-parking-in-lieu%22%3A%7B%22space

[2018-12-07 21:00] mikewynne commented on #212
Thanks @robgaston

[2018-12-07 21:00] #212 closed

[2018-12-07 21:12] robgaston commented on #58
@mikewynne in the case you linked to above, it is using this value (90,001) is used as it is summing the new non-res (140,000) and the change of use (pdr to non-res; 50,000), so the value being calculated agains is 190,000.

Is this not how we should calculate this fee?

Thanks!

[2018-12-07 22:08] mikewynne commented on #58
@robgaston I think this similar to the change of use issue that we saw in Jobs-Housing - the planners are expecting the change of use to be a subset of the new construction.  So they'd expect the total value to be 140k.

One more thing, the Non-Res, 800-99,999 gsf section in the report should really have 99,999 as the GFA to run the calculation.  I think you are removing the 800 from the total, bu

[2018-12-07 22:10] mikewynne commented on #78
@robgaston Looks good, thanks Rob!  I just met with Corey, he said to say thanks for all the great work you've been doing!

[2018-12-07 22:10] #78 closed

[2018-12-07 22:15] mikewynne commented on #51
@robgaston The fee is calculating perfectly.  But, given that this fee may be paid or bypassed by building affordable housing, can we add a checkbox to say 'Project fulfills affordable housing requirements', which will result in the fee not being calculated.  I'm going to meet with the affordable housing group to see if they want anything added to the IFC for projects that are partly met by the fe

[2018-12-08 00:39] robgaston commented on #58
@mikewynne I've incorporated the fixes that you've described in #214

Thanks!

[2018-12-08 00:47] robgaston commented on #51
@mikewynne I added the checkbox that you described above in #215

Thanks!

[2018-12-08 01:01] mikewynne commented on #58
@robgaston I'm getting 99,199 for the GFA in the report for the non-res below 99,999 and then 40,801 for the above 99,999.  The 800 should be in the below 99,999 - so 99,999 in the first category and 40,001 in the second.

[2018-12-10 20:11] robgaston commented on #58
@mikewynne good catch - fixed in #216

Thanks!

[2018-12-10 20:13] robgaston commented on #206
- [ ] affordable housing
- [ ] balboa park infrastructure
- [ ] bicycle parking in lieu
- [ ] downtown park fee
- [ ] downtown special development district open space
- [ ] eastern neighborhoods infrastructure
- [ ] eastern neighborhoods non residential open space
- [ ] eastern neighborhoods residential open space
- [ ] citywide childcare hotel office
- [ ] jobs housing linkage
- [ ] market octavi

[2018-12-11 21:44] mikewynne commented on #51
@robgaston Thanks!

[2018-12-11 21:46] mikewynne commented on #51
@robgaston I'm going to close this for now, although we might reopen it next week if the affordable housing team decide that they want to enhance it.

[2018-12-11 21:56] mikewynne opened #217 "63 Eastern Neighborhoods Infrastructure Fee - change of use"
Sorry for going back to this old (complicated) fee, but can we please change this one so that the change/replacement of use is seen as a subset of the new construction.  Just like we did with Jobs-Housing.

We might also need a change of label as I'm surprised that the planners are interpreting it like this - I'll follow up with you on the label after chatting with Corey.

[2018-12-21 17:42] mikewynne commented on #75
@robgaston There are only a maximum of 30 projects that will ever need to calculate this fee so the planners have asked for the trigger portion to be built out but not the fee logic.  For the calculate page can we just have a checkbox that the user must hit to say that they will calculate the fee manually and then have this also listed in the final report (that they agree to calculate it manually)

[2018-12-21 17:54] mikewynne commented on #70
@robgaston I thought that we'd get by without building this one but the affordable housing group have asked for it to be built.  Generally, the logic is the same as the citywide Affordable Housing Fee #51, (arguably they are actually the same fee), but with different rates and slightly different triggers.  So the developer would just pay this fee or the #51 fee, so building out this may have some

[2018-12-21 18:01] adamlodge commented on #70
Mike,

Trying to gauge urgency of this.  Can these latest requests wait until the new year?

[2018-12-21 18:02] mikewynne commented on #70
Yes!  I just sent an email to you and Rob.

Mike Wynne, Senior GIS Business Analyst
San Francisco Planning Department
1650 Mission Street, Suite 400 San Francisco, CA 94103
Direct: 415.575.9096 | www.sfplanning.org<http://www.sfplanning.org/>
San Francisco Property Information Map<http://propertymap.sfplanning.org/>

From: adamlodge <notifications@github.com>
Sent: Friday, December 21, 2018 10:02

[2019-01-08 21:18] mikewynne commented on #209
Looks like it won't have any immediate effect on the existing fees.

[2019-01-08 21:18] #209 closed

[2019-02-01 17:41] mikewynne commented on #54
It looks like the trigger isn't working correctly.  In this example, an addition of 6,600 sq ft of retail, the fee shouldn't be triggering as it's below 25K sq ft, but it is being triggered.

https://sfcpc.github.io/ifc/?state=report&fees=%7B%22affordable-housing%22%3A%7B%22ownershipType%22%3Anull%2C%22exemptFromAffordableHousingFee%22%3Anull%7D%2C%22bicycle-parking-in-lieu%22%3A%7B%22spacesInLieu

[2019-02-07 17:00] robgaston commented on #75
@mikewynne just a thought... should we provide an input for the user to enter the manually calculated fee in addition to the checkbox that you describe?

[2019-02-07 18:56] robgaston commented on #75
@mikewynne It sounds like in all cases, a developer will only pay one Affordable Housing Fee (either #51, #70, or #75).  I've started working on this fee (#75) and #71 as their own fees, but might it instead make more sense to just have a single Affordable Housing Fee that handles all three of these (and just applies the one relevant Affordable Housing Fee)? We could have the fee form and report r

[2019-02-07 19:18] mikewynne commented on #75
I think either way is fine, as long as the final report states which one they are paying. So, if it makes it easier to build as 1 fee then that's totally fine.  It is kinda weird that they didn't just make them a single fee in the Planning Code.

[2019-02-07 19:21] mikewynne commented on #75
@robgaston For your idea of providing an input for the user to enter the manually calculated fee - I like that!  Yes, please add it.

[2019-02-08 17:49] mikewynne opened #220 "Update #63 Eastern Neighborhoods Infrastructure - tier changes related to Central SoMa Plan"
The adoption of the Central SoMa Plan (Jan 2019), has resulted in edits to the Eastern Neighborhoods Infrastructure Fee.  See section b) and d) of the definitions section (link below).  As a result parcels in Tiers A, B and C from the Central SoMa plan should become Tier 3 in the EN Infrastructure Fee.

http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesand

[2019-02-08 19:16] robgaston commented on #75
@mikewynne i added this fee as part of the existing affordable housing fee (#51) here: #221

[2019-02-08 19:16] robgaston commented on #70
@mikewynne i added this fee as part of the existing affordable housing fee (#51) here: #221

[2019-02-08 23:18] robgaston commented on #206
@mikewynne looking [here](http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_425), it appears that the "soma non residential open space" has been repealed. should we remove this fee?

[2019-02-08 23:42] mikewynne commented on #206
@robgaston It looks like it was repealed as part of the Central SoMa plan adoption, but I'm not sure what, if anything, replaced it, so let me confirm with Corey and get back to you.

[2019-02-08 23:56] robgaston commented on #206
@mikewynne by the way, you may have noticed that I added a new team member to the project.  My new Farallon colleague, @njkim (Namjun), has been kind enough to lend a needed hand on this work, FYI. (thanks, @njkim!)

[2019-02-08 23:58] mikewynne commented on #206
@njkim Hi Namjun, nice to e-meet you!

[2019-02-09 00:58] njkim commented on #206
@mikewynne Nice to meet you too, Mike. Glad I could help.

[2019-02-11 19:08] mikewynne commented on #206
@robgaston Can you please check the Jobs-Housing fee.  For Change of Use for PDR with cert of occupancy prior to April 1, 2010, I think it's using the details from the planning code rather than the fee schedule.  This one is particularly confusing as the code states that entertainment, hotel, etc. should use the new construction fee minus $14.09, which I think is what you did.  Page 7 of the fee s

[2019-02-11 19:39] mikewynne commented on #74
@robgaston Hi Rob, can you check the triggering for this one - it seems to be triggering for all projects that we enter, it should only trigger for projects in the C-3-O(SD) zoning district.  Thanks

[2019-02-13 17:08] mikewynne commented on #206
@robgaston Just to confirm - the soma non residential open space fee has definitely been repealed, so please delete it.  Thanks

[2019-02-13 21:14] robgaston commented on #206
@mikewynne I addressed both of your comments above in the latest.  Thanks!

[2019-02-13 21:20] robgaston commented on #74
@mikewynne this should be fixed in the latest.  Thanks!

[2019-02-14 18:36] #58 closed

[2019-02-14 18:37] #217 closed

[2019-02-14 18:37] #54 closed

[2019-02-14 18:42] #206 closed

[2019-02-14 18:55] mikewynne commented on #74
@robgaston Hey Rob, I'm not able to get this one to trigger at all now.  Here's an example where it should be triggering (inside the C-3-O(SD)) but isn't appearing:

https://sfcpc.github.io/ifc/?state=calculate&fees=%7B%22affordable-housing%22%3A%7B%22ownershipType%22%3Anull%2C%22exemptFromAffordableHousingFee%22%3Anull%2C%22payEasternFee%22%3Anull%2C%22easternAffordableFee%22%3Anull%7D%2C%22bicyc

[2019-02-14 19:05] mikewynne opened #226 "Label change on Report"
On the report, just below the map is a summary of the project.  The last line is "Change of use:", please change this label to "Change or replacement of use:"

[2019-02-14 19:19] robgaston commented on #74
@mike

[2019-02-14 19:21] robgaston commented on #74
@mikewynne good catch - this should be fixed in the latest by #227
Thanks!

[2019-02-15 18:11] mikewynne commented on #74
@robgaston I'm only able to get it to trigger in one part of the C-3-O(SD) district.  See attached screenshot, it triggers in the part highlighted in yellow, but not in the larger area.
![capture](https://user-images.githubusercontent.com/7946733/52875737-ec462f00-3109-11e9-9657-a168e9918ddd.PNG)

[2019-02-19 20:48] robgaston commented on #74
@mikewynne good catch - this should be fixed in `master` now (https://github.com/sfcpc/ifc/pull/228)

thanks!

[2019-02-19 21:34] mikewynne commented on #74
Looks good, thanks @robgaston !

[2019-02-19 21:34] #74 closed

[2019-03-04 22:19] mikewynne opened #230 "Central SoMa Community Services Facilities Fee"
New development in Central SoMa will increase the resident and employee populations, generating new demand for use of community service facilities, such as cultural facilities, health clinics, services for people with disabilities, and job training centers. New revenues to fund investments in community services are necessary to maintain the existing level of service. This fee will generate revenue

[2019-03-04 22:21] mikewynne opened #231 "Central SoMa Infrastructure Fee"
New development in the Central SoMa Plan Area will increase the resident and employee populations, generating new demand for use of community-serving infrastructure such as transit, complete streets, and recreation and open space. New revenues to fund investments in this infrastructure are necessary to maintain the existing level of service. This fee will generate revenue that will be used to ensu

[2019-03-05 23:11] mikewynne commented on #220
Central SoMa Fee tiers added to the Esri map service.  EN tiers changed to Tier 3 for all parcels in Central SoMa tier areas.

[2019-03-05 23:11] #220 closed

[2019-03-05 23:37] #226 closed

[2019-03-08 17:27] robgaston commented on #148
@mikewynne we built something for Arches (which also uses knockout) that allows for displaying commas in number inputs which we can probably use to satisfy this request.  Let me know if you would like us to proceed w/ implementing this in IFC.

[2019-03-08 17:49] mikewynne commented on #148
@robgaston I'd say leave that for now, seeing as it's such a low priority.  thanks

[2019-03-08 18:04] mikewynne commented on #51
Hey @robgaston Can you look at the tables in the PDF below, it includes is a detailed description of how to calculate the affordable housing fees (this inclusionary fee and the UMU fee).  To me it looks too crazily complex to build our in these fees in the time that we have left, so I'm thinking that we should maybe just do a totally dumbed down version of just sending the user to this doc and get

[2019-03-12 16:53] mikewynne commented on #70
See comments on Inclusionary Affordable Housing Fee #51

[2019-03-19 17:21] mikewynne commented on #51
@robgaston Hey Rob, I'm going to take a shot at tweaking this and the UMU fees, I might pass it back if it gets too tricky. :)

[2019-03-20 15:58] robgaston commented on #51
@mikewynne sorry for the delay on my end!  Looks like you got this one handled in a way that didn't require too much fuss, which is great.  Let me know if you still need any help here

[2019-04-08 20:39] #75 closed

[2019-04-08 20:40] #51 closed

[2019-04-08 20:40] #70 closed

[2019-04-10 18:29] mikewynne opened #241 "Union Square Park, Recreation and Open Space Fee"
New fee that has just been added to the Planning Code:
http://library.amlegal.com/nxt/gateway.dll/California/planning/article4developmentimpactfeesandprojectr?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$anc=JD_435

Hold off on adding to IFC until the fee is added to the Impact Fee Schedule:
http://forms.sfplanning.org/Impact_Fee_Schedule.pdf

[2019-04-19 23:45] mikewynne opened #243 "Shorten URL Length"
This might be a long shot but would it be possible to reduce the length of the URLs that are generated?

Right now we often get URLs of thousands of characters in length which occasionally seems to cause the IFC to fail to move between the Trigger and Calculate pages, either returning an error of "Error:  URI too long" or failing to display the calculate page correctly (the forms for each fee are

[2019-07-09 20:16] mikewynne opened #247 "North of Market Residential Special Use District Affordable Housing Fee"
This fee was added to the Planning Code in 1985, but had been missed from the Impact Fee Schedule until July 2019.

In the 80-120-T and 80-130-T Height and Bulk Districts located within the North of Market Residential Special Use District (NOMRSUD), heights higher than 80 feet would be appropriate in order to effect a transition from the higher downtown heights to the generally lower heights of th

[2019-08-03 00:09] #231 closed

[2019-08-03 00:09] #230 closed

[2019-08-03 00:09] #241 closed

[2019-08-03 00:09] #247 closed

[2019-12-05 21:08] mikewynne opened #260 "2020 Impact Fee Schedule"
All impact fees need to updated to match the 2020 fee schedule.

Here’s the new fee schedule: https://sfplanning.org/sites/default/files/documents/admin/Master_Impact_Fee_Schedule_2020.pdf
And, the old one for comparison: https://sfplanning.org/sites/default/files/forms/Impact_Fee_Schedule.pdf

[2019-12-05 21:11] mikewynne opened #261 "Change to Jobs Housing Linkage Fee"
Here’s the summary of changes to the Jobs-Housing fee in this PDF:
https://sfplanninggis.s3.amazonaws.com/JobsHousingLinkage_FeeChange.pdf

Also, refer to fee rates in the 2020 fee schedule:
https://sfplanning.org/sites/default/files/documents/admin/Master_Impact_Fee_Schedule_2020.pdf

[2020-01-07 00:54] mikewynne commented on #260
Everything looks good except for these 2 issues:

1. Child care Residential - now seems good for new construction (thanks!), but it's still showing the old fees for change of use.

2.  Inclusionary Affordable Housing Program Fee - it is displaying the new fee, but it's returning a NaN in the report (I ran it with a test that produced a 0% applicable fee percentage, so it might be related to that).

[2020-01-10 21:09] mikewynne commented on #260
Hi @njkim I think there is one last change to make - for child care residential change of use, for <10 units, non-res to res and PDR to res I'm seeing $0.16, but it looks like it should be $0.17.  Thanks.

[2021-02-05 20:01] njkim opened #267 "Update Impact Fee Schedule 2021"

[2021-02-09 00:43] njkim opened #268 "Add a new fee for 2021"
A new fee schedule needs to be added.

Van Ness & Market Community Facilities Fee and Fund
https://codelibrary.amlegal.com/codes/san_francisco/latest/sf_planning/0-0-0-64140

[2021-02-09 01:10] #261 closed

[2021-02-09 01:10] #260 closed

[2021-04-27 22:55] mikewynne opened #273 "Switch code links to new Planning Code website"
#269 New Planning Code URLs

[2021-04-27 22:56] #273 closed

[2021-04-27 22:56] mikewynne commented on #273
URLs updated

[2022-01-27 17:03] njkim opened #274 "Update impact fees for 2022"

[2022-02-23 01:35] njkim opened #276 "Update open space & transportation sustainability fee for Central SoMa"
The open space fee and transportation sustainability fees needs to be updated for Central SoMa Special Usage Area

Central SoMa SUA has a different fee schedules
    from Eastern Neighborhood Open Space Fee
    from citywide Transportation Sustainability Fee

[2022-02-25 22:43] #276 closed